<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://unpkg.com/vue"></script>
  <!--<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>-->
</head>
<body>
  <div id="app">
    <list-view :issue-list="listData"></list-view>
    <pager @last="handleLastPageClick" @next="handleNextPageClick"></pager>
  </div>
</body>
<script>
  const USER = 'youngwind';
  const REPO = 'blog';

  Vue.component('issue-label', {
    props: ['text', 'color'],
    template: `
      <span v-bind:style="{ backgroundColor: '#' + color, borderRadius: '2px', padding: '0 2px', color: 'white', margin: '0 2px', fontSize: '12px' }">
        {{ text }}
      </span>
    `
  });

  Vue.component('list-view', {
    props: ['issueList'],
    template: `
      <ul>
        <li v-for="issue in issueList">
          {{ issue.title }}
          <span v-for="label in issue.labels">
            <issue-label :text="label.name" :color="label.color"></issue-label>
          </span>
        </li>
      </ul>
    `
  });

  Vue.component('pager', {
    methods: {
      lastPage() {
        this.$emit('last');
      },
      nextPage() {
        this.$emit('next');
      }
    },
    template: `
      <div>
        <span @click="lastPage">上一页</span>
        <span @click="nextPage">下一页</span>
      </div>
    `
  });
  
  const app = new Vue({
    el: '#app',
    data: {
      listData: [],
      currentPage: 1,
    },
    methods: {
      getIssues(page = 1) {
        return fetch(`https://api.github.com/repos/${USER}/${REPO}/issues?page=${page}`)
      },
      handleLastPageClick() {
        console.log('last', this.currentPage);
        if (this.currentPage <= 1) return;
        var self = this;
        this.getIssues(this.currentPage - 1)
          .then(res => res.json())
          .then(json => {
            self.currentPage --;
            self.listData = json;
          })
          .catch(err => {
            console.log(err);
          });
      },
      handleNextPageClick() {
        console.log('next', this.currentPage);
        var self = this;
        this.getIssues(this.currentPage + 1)
          .then(res => res.json())
          .then(json => {
            self.currentPage ++;
            self.listData = json;
          })
          .catch(err => {
            console.log(err);
          })
      }
    },
    mounted() {
      var self = this;
      this.getIssues(1)
        .then(res => res.json())
        .then(json => self.listData = json);
    },
  });
</script>
</html>
